{% load static %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example Template</title>
    <link rel="stylesheet" href={% static 'css/foundation.css' %}>
    <link rel="stylesheet" href={% static 'css/app.css' %}>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="medium eight-columns">
          <p>example_var: {{ example_var }}</p>
          <p>date: {{ date }}</p>
        </div>
      </row>
    </div>
    <script src={% static "js/vendor/jquery.js" %}></script>
    <script src={% static "js/vendor/what-input.js" %}></script>
    <script src={% static "js/vendor/foundation.js" %}></script>
    <script src={% static "js/app.js" %}></script>
  </body>
</html>
